/* .post-container{
    width: 610px;
    margin-top: 55px;
}

.post{
    width: 100%;
    background-color: white;
    border: 1px solid lightgrey;
    margin-bottom: 55px;
    border-radius: 3px;
}

.post-header{
    display: flex;
    align-items: center;
    margin: 15px;
}

.post-header img{
    width: 30px;
    height: 30px;
    border-radius: 20px;
}

.post-header h1{
    margin: 0 0 2px 7px;
    font-size: 1.4rem;
    font-weight: 500;
}

.main-img{
    width: 100%;
    height: auto;
}

.post-icons{
    margin: 10px 15px 0 15px;
}

.post-icons p{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 8px 0;
}

.post-icons i{
    font-size: 3rem;
    margin-right: 20px;
}

@media (max-width: 660px){
    .post{
        width: 98%;
        margin: 0 auto;
        margin-bottom: 25px;
    }
} */